:host {
    display: flex;
    flex-direction: column;
}

.control {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    caret-color: var(--color-text);
    border-bottom: 1px solid var(--color-text);
    padding: 0.4rem 0;
}

.control[type='password'] {
    letter-spacing: 4px;
}
